.search-page {
	background: linear-gradient(89.83deg, #d2ebff 1.11%, #f3faff 99.88%);
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.search-results {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: var(--font-family);
	gap: 5rem;
}

.table {
	width: 70vw;
}
