.signup-page {
	background: linear-gradient(89.83deg, #d2ebff 1.11%, #f3faff 99.88%);
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.signup {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 25vw;
	justify-self: center;
	gap: 2rem;
}

.input {
	width: 100%;
	border: 1px solid var(--color-input-border);
	padding: 1rem 1.5rem;
	border-radius: 0.9rem;
	font-family: Inter;
	font-size: 1rem;
	font-weight: 400;
}

.input:active,
.input:focus {
	outline: none;
}

.input:placeholder {
	color: var(--color-input-placeholder);
}

.signup-desc {
	font-family: var(--font-family);
}

.signup-desc a {
	text-decoration: underline;
	text-decoration-thickness: 1px;
	text-underline-offset: 2px;
}
